#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.color-box {
    height: 50px;
    width: 50px;
    background-color: grey;
    cursor: pointer;
}

.color-box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-box-container-display {
    height: 250px;
    width: 250px;
    padding: 20px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

.color-box-container-buttons {
    display: flex;
    margin: 2rem;
    gap: 1rem;
}
