#root {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background-color: #242424;
    color: white;
}

.post-form {
    border: 2px solid white;
    background-color: #444444;
    border-radius: 1rem;
    margin: 2rem auto;
    width: 75%;
    padding: 2rem;
}

.post-card {
    border: 2px solid white;
    border-radius: 1rem;
    margin: 2rem auto;
    max-width: 75%;
    padding: 2rem;
    background-color: #242424;
}

button {
    margin-top: 1rem;
}
