#root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

.ContactsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    gap: 1rem;
    border-bottom: 1px solid white;
    margin-bottom: 1rem;
}
